@charset "UTF-8";

#indexTopBar {
    padding: 10px 0 10px 1rem;
    color: #FFFFFF;
    background-color: #DB57FF;

    /* progressive enhancement */
	-moz-border-radius: 14px 0 0 14px;
	-o-border-radius: 14px 0 0 14px;
	-webkit-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px; /* CSS3 rule */
    
    
}

#indexTopBar h1 {
    margin: 0;
    font-size: 50px;
}

#indexTopBar p {
    margin: 0;
    font-size: 18px;
}

#aboutGoals {
    padding: 0 1rem;
    color: #FFFFFF;
    font-size: 18px;
}

#goalsPhoto {
    margin-bottom: 1rem;

    /* progressive enhancement */
	-moz-border-radius: 0 14px 14px 14px;
	-o-border-radius: 0 14px 14px 14px;
	-webkit-border-radius: 0 14px 14px 14px;
	border-radius: 0 14px 14px 14px; /* CSS3 rule */
}

.left-header {
    margin-left: 25px;
    color: #802BFF;
}

.right-header {
    margin-right: 25px;
    color: #73FF7A;
}

#aboutGoals {
    padding: 0 1rem;
    color: #FFFFFF;
    font-size: 20px;
}

#goalDiv1, #certificate3 {
    background-color: #B1FF99;
    height: 350px;

    /* progressive enhancement */
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px; /* CSS3 rule */

}

#goalDiv2 {
    background-color: #C299FF;
    height: 375px;

    /* progressive enhancement */
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px; /* CSS3 rule */

}

#goalDiv3 {
    background-color: #B1FF99;
    height: 375px;

    /* progressive enhancement */
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px; /* CSS3 rule */

}

#university_img {
    height: 350px;

    /* progressive enhancement */
	-moz-border-radius: 0 14px 14px 0;
	-o-border-radius: 0 14px 14px 0;
	-webkit-border-radius: 0 14px 14px 0;
	border-radius: 0 14px 14px 0; /* CSS3 rule */
}

#development_img {
    height: 375px;

    /* progressive enhancement */
	-moz-border-radius: 14px 0 0 14px;
	-o-border-radius: 14px 0 0 14px;
	-webkit-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px; /* CSS3 rule */
}

#summit_image {
    height: 375px;

    /* progressive enhancement */
	-moz-border-radius: 0 14px 14px 0;
	-o-border-radius: 0 14px 14px 0;
	-webkit-border-radius: 0 14px 14px 0;
	border-radius: 0 14px 14px 0; /* CSS3 rule */
}

.goalDiv {
    margin-bottom: 25px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.right-desc {
    margin-right: 25px;
    font-size: 18px;
}

.left-desc {
    margin-left: 25px;
    font-size: 18px;
}

.row {
    width: 100%;
    display: flex;
}

.col-70 {
    width: 70%;
}

.col-65 {
    width: 65%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-35 {
    width: 35%;
}

.col-30 {
    width: 30%;
}

.col-30 img {
    width: 100%;
}

.col-25 {
    width: 25%;
}