@charset "UTF-8";

#indexTopBar {
    padding: 10px 0 10px 1rem;
    color: #FFFFFF;
    background-color: #4EB16B;

    /* progressive enhancement */
	-moz-border-radius: 14px 0 0 14px;
	-o-border-radius: 14px 0 0 14px;
	-webkit-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px; /* CSS3 rule */
    
    
}

#indexTopBar h1 {
    margin: 0;
    font-size: 50px;
}

#indexTopBar p {
    margin: 0;
    font-size: 18px;
}

#aboutPortfolio {
    padding: 0 1rem;
    color: #FFFFFF;
    font-size: 18px;
}

#portfolioPhoto {
    margin-bottom: 1rem;

    /* progressive enhancement */
	-moz-border-radius: 0 14px 14px 14px;
	-o-border-radius: 0 14px 14px 14px;
	-webkit-border-radius: 0 14px 14px 14px;
	border-radius: 0 14px 14px 14px; /* CSS3 rule */
}

#portfolioCardUI .row {
    max-width: 1200px;

}

#mainProjectImage {
    max-width: 100%;
    height: 410px; 
    -moz-border-radius: 14px 0 0 14px;
	-o-border-radius: 14px 0 0 14px;
	-webkit-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px; /* CSS3 rule */
}

#portfolioCardUI #mainProject {
    background-color: #B941E8;
    height: 410px;
    width: 100%;

    margin-bottom: 0;

    /* progressive enhancement */
	-moz-border-radius: 0 14px 14px 0;
	-o-border-radius: 0 14px 14px 0;
	-webkit-border-radius: 0 14px 14px 0;
	border-radius: 0 14px 14px 0; /* CSS3 rule */
}

#portfolioCardUI article #mainSubjectHeader {
    margin: 0;
    margin-top: 3px;
    padding: 10px 0 0 10px;
    font-size: 28px;
    color: #54F059;
}

#mainProjectName {
    margin-top: 10px;
    padding: 0 0 0 10px;
    font-size: 30px;
}

#mainColumn2 #mainProjectDescription {
    padding: 5px 20px 15px 10px;
    font-size: 18px;
}

#allWorkHeader {
    color: #FFFFFF;
}

#portfolioCardUI article {
    padding: 0;
    margin-bottom: 20px;
    background-color: #7928CA;
    overflow: hidden;
    height: 539px;
    width: 380px;

    /* progressive enhancement */
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px; /* CSS3 rule */

    color: #FFFFFF;

    clear: both;
}

#portfolioCardUI article img {
    /* progressive enhancement */
	-moz-border-radius: 14px 14px 0 0;
	-o-border-radius: 14px 14px 0 0;
	-webkit-border-radius: 14px 14px 0 0;
	border-radius: 14px 14px 0 0; /* CSS3 rule */
}

#portfolioCardUI article #subject {
    margin: 0;
    padding: 10px;
    color: #4EB16B;
}

#portfolioCardUI article #projectName {
    margin: 0;
    padding: 0 0 0 10px;
    color: #FFFFFF;
}

#portfolioCardUI article p {
    margin: 0;
    padding: 10px;

    font-size: 14px;
}

#portfolioCardUI #column1, #column2 {
    margin-right: 15px;
}

#portfolioCardUI #column2, #column3 {
    margin-left: 15px;
}

#portfolioCardUI article #clickToView {
    margin-top: 6px;
    padding-left: 10px;
    display: none;

    text-decoration: underline;
}

#mainClickToView {
    margin-top: 80px;
    padding-left: 10px;
    font-size: 26px;
    display: none;

    text-decoration: underline;
}

#mainProjectDiv:hover {
    cursor: pointer;
}

#mainProjectDiv:hover #mainProject{
    background-color: #7700B3;
    transition: 0.25s;
}

#mainProjectDiv:hover #mainProjectImage {
    filter: brightness(50%);
    transition: 0.25s;
}

#mainProjectDiv:hover #mainClickToView{
    display: block;
    transition: 0.25s;
}

#portfolioCardUI article:hover {
    background-color: #CC3CC3;
    transition: 0.25s;
    cursor: pointer;
}
  
#portfolioCardUI article:hover .projectPicture {
    height: 300px;
    filter:brightness(50%);
    transition: 0.25s;
}

#portfolioCardUI article:hover #clickToViewTop {
    display: block;
    transition: 0.25s;
}

#portfolioCardUI article:hover #clickToView {
    display: block;
    transition: 0.25s;
}

.worksample {
    width: 85%;
    margin: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #CC3CC3;
    color: #FFFFFF;

    /* progressive enhancement */
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px; /* CSS3 rule */
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    opacity: 0;
    overflow-y: auto;
}

#closeOverlay1, #closeOverlay2, #closeOverlay5 {
    margin: 10px;
    float: right;
    filter: invert(100%);
}

#closeOverlay1:hover, #closeOverlay2:hover, #closeOverlay5:hover {
    filter: none;
    transition: 0.25s;
}

#closeOverlay1:hover, #closeOverlay2:hover, #closeOverlay5:hover {
    cursor: pointer;
}

.worksampleHeader {
    font-size: 46px;
    margin: 10px;
    margin-left: 20px;
    padding-top: 10px;
}

.worksampleSubHeader {
    font-size: 24px;
    font-weight: bold;
}

.worksampleTask, .worksampleSteps, .worksampleSkillAreas, #project1Example, #project2Example, #project5Example, .worksampleKeyLearnings, .githubLink, .worksampleBenefits, .worksampleConnection {
    margin-left: 20px;
    font-size: 20px;
    max-width: 95%;
}

.githubLogo {
    filter: invert(100%);
}

#cnsLink {
    color: #40F75C;
}

#cnsLink:hover {
    filter: brightness(0%);
    transition: 0.25s;
    text-decoration: underline;
}

#cnsLink:any-link {
    text-decoration: underline;
    color: #40F75C;
}

.githubLink {
    color: #FFFFFF;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    width: 277px;
}

.githubLink:hover {
    filter: invert(100%);
    transition: 0.25s;
    text-decoration: underline;
}

.githubLink a:any-link {
    text-decoration: none;
    color: #FFFFFF;
}

.worksampleSteps, .worksampleKeyLearnings, .worksampleBenefits, .worksampleConnection {
    margin-bottom: 0;
    max-width: 95%;
}

.worksampleStepsList, .worksampleLearningsList, .businessBenefitsList, .connectionsList {
    margin-top: 5px;
    max-width: 95%;
}

.worksampleStep, .worksampleLearning, .worksampleSublistItem, .businessBenefitsItem, .benefitsSublistItem, .connectionsListItem {
    margin: 3px 0;
    font-size: 20px;
}

#workExampleHeader {
    margin-bottom: 20px;
}

.workExamples {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connectionsList {
    padding-bottom: 15px;
}

.workExample {
    height: 563px;
    margin: 0 10px;
}

.pfp {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

footer {
    margin-top: 60px;
    background-color: #000000;
}

#footerRow {
    width: 1200px;

    color: #FFFFFF;

    margin: 0 auto;
}

.footer-site-nav h4 {
    margin: 0.5rem 0;
}

#footerRow a {
    color: #FFFFFF;
    margin-top: auto;

    font-size: 16px;

    text-decoration: none;
    font-weight: normal;
}

#footerRow a:hover {
    text-decoration: underline;
}

#copyright {
    margin: 0;
    padding: 25px 0 10px 0;

    color: #FFFFFF;
    
    font-size: 12px;
    font-weight: normal;
}

footer p {
    color: #FFFFFF;
    font-size: 16px;
}

#footerMail {
    text-decoration: underline;
}

.row {
    width: 100%;
    display: flex;
}

.col-80 {
    width: 80%;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-30 {
    width: 30%;
}

.col-30 img {
    width: 100%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}
