@charset "UTF-8";

#indexTopBar {
    padding: 10px 0 10px 1rem;
    color: #FFFFFF;
    background-color: #DB57FF;

    /* progressive enhancement */
	-moz-border-radius: 14px 0 0 14px;
	-o-border-radius: 14px 0 0 14px;
	-webkit-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px; /* CSS3 rule */
    
    
}

#goalsPhoto {
    -moz-border-radius: 0 14px 14px 14px;
	-o-border-radius: 0 14px 14px 14px;
	-webkit-border-radius: 0 14px 14px 14px;
	border-radius: 0 14px 14px 14px; /* CSS3 rule */
}

#indexTopBar h1 {
    margin: 0;
    font-size: 50px;
}

#indexTopBar p {
    margin: 0;
    font-size: 18px;
}

.pfp {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

footer {
    margin-top: 60px;
    background-color: #000000;
}

#footerRow {
    width: 1200px;

    color: #FFFFFF;

    margin: 0 auto;
}

.footer-site-nav h4 {
    margin: 0.5rem 0;
}

#footerRow a {
    color: #FFFFFF;
    margin-top: auto;

    font-size: 16px;

    text-decoration: none;
    font-weight: normal;
}

#footerRow a:hover {
    text-decoration: underline;
}

#copyright {
    margin: 0;
    padding: 25px 0 10px 0;

    color: #FFFFFF;
    
    font-size: 12px;
    font-weight: normal;
}

footer p {
    color: #FFFFFF;
    font-size: 16px;
}

#footerMail {
    text-decoration: underline;
}

.row {
    width: 100%;
    display: flex;
}

.col-70 {
    width: 70%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-30 {
    width: 30%;
}

.col-30 img {
    width: 100%;
}

.col-25 {
    width: 25%;
}