@charset "UTF-8";

#indexTopBar {
    padding: 10px 0 10px 1rem;
    color: #FFFFFF;
    background-color: rgb(180, 2, 230);
    display: block;
    width: 100%;

    /* progressive enhancement */
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px; /* CSS3 rule */
    
    
}

#indexTopBar h1 {
    margin: 0;
    font-size: 50px;
}

#indexTopBar p {
    margin: 0;
    font-size: 18px;
}

#resumeLayout {
    width: 75%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 10px 40px;
}

.pfp {
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.boldResumeText {
    font-weight: bold;
}

.personalHeader {
    font-weight: bold;
    text-decoration: underline;
    color: #579836;
    margin-bottom: 3px;
}

.experienceHeader {
    font-weight: bold;
    text-decoration: underline;
    color: #BFA9FF;
    margin-bottom: 5px;
    padding-bottom: 0;
}

#lookingFor {
    font-weight: bold;
    color: #BFA9FF;
}

#lookingForP {
    margin-top: 0;
}

.workSubDivBottom {
    margin-bottom: 15px;
}

.educationSubDiv {
    margin-bottom: 15px;
}

#myName {
    font-size: 40px;
    font-weight: bolder;
}

.normal-header {
    font-weight: normal;
}

.header-row h2 {
    margin-top: 0;
}

.header-row h2, .header-row h1{
    margin-bottom: 5px;
}

#resumeHeader {
    font-family: 'Montserrat', sans-serif;
}

.workAchievements {
    margin-top: 0;
}

.workAchievements li {
    margin: 2px 0;
}

.personalList {
    margin-top: 0;
    margin-bottom: 0;
}

.personalList li {
    margin: 2px 0;
}

.right-text {
    text-align: right;
}

#resumeHeader {
    font-family: 'Montserrat', sans-serif;
}

.resumeHr {
    height: 3px;
    background-color: #7030A0;
}

.row {
    width: 100%;
    display: flex;
}

.col-95 {
    width: 95%;
}

.col-70 {
    width: 70%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-30 {
    width: 30%;
}

.col-30 img {
    width: 100%;
}

.col-25 {
    width: 25%;
}