@charset "UTF-8";



#indexTopBar {
    padding: 10px 0 10px 1rem;
    color: #FFFFFF;
    background-color: #B402E6;

    /* progressive enhancement */
	-moz-border-radius: 14px 0 0 14px;
	-o-border-radius: 14px 0 0 14px;
	-webkit-border-radius: 14px 0 0 14px;
	border-radius: 14px 0 0 14px; /* CSS3 rule */
    
    
}

#indexTopBar h1 {
    margin: 0;
    font-size: 50px;
}

#aboutMe {
    padding: 0 1rem;
    color: #FFFFFF;

    font-size: 20px;
}

#indexTopBar p {
    margin: 0;
    font-size: 18px;
}

#homePhoto {
    margin-bottom: 1rem;

    /* progressive enhancement */
	-moz-border-radius: 0 14px 14px 14px;
	-o-border-radius: 0 14px 14px 14px;
	-webkit-border-radius: 0 14px 14px 14px;
	border-radius: 0 14px 14px 14px; /* CSS3 rule */
}

#recentUpdates .row {
    max-width: 1200px;

}

#recentUpdates {
    padding: 1px 0 1px 1rem;
    background-color: #68DE8B;
    overflow: hidden;

    /* progressive enhancement */
	-moz-border-radius: 14px;
	-o-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px; /* CSS3 rule */

    color: #FFFFFF;

    clear: both;
}

#recentHeader {
    font-size: 30px;
    color: #8109b0;

    font-weight: bold;
}

#recentUpdates #topMargin {
    margin-top: 21.580px;
}

#recentUpdates #bottomMargin {
   margin-bottom: 21.580px;
}

#recentPhoto {
    width: 281px;
    height: 482px;

    margin-left: 170px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#recentBody {
    color: #000000;
    font-size: 20px;
}

.row {
    width: 100%;
    display: flex;
}

.nestedRow {
    width: 100%;
    display: flex;
}

.col-75 {
    width: 75%;
}

.col-70 {
    width: 70%;
}

.col-60 {
    width: 60%;
}

.col-50 {
    width: 50%;
}

.col-40 {
    width: 40%;
}

.col-30 {
    width: 30%;
}

.col-30 img {
    width: 100%;
}

.col-25 {
    width: 25%;
}

.col-20 {
    width: 20%;
}